# PyCharm files
.idea/


*.txt
# Virtual environment
venv/

# Django migrations
#*/migrations/

# Environment variables file
.env

# Python packages
*.pyc
__pycache__/

# Static files
static/collect_static

# Media files

# logger file
requests.log
